PORT=app_port
DB_HOST=dbhost
DB_PORT=dbport
DB_USERNAME=myusername
DB_PASSWORD=mypass
DB_NAME=mydatabase
CLOUDINARY_CLOUD_NAME=nombrecloud
CLOUDINARY_API_KEY=apikey
CLOUDINARY_API_SECRET=apisecret
EMAIL_USER=email@gmail.com
EMAIL_PASS=contraseña_app_gmail
JWT_SECRET=jwtsecretpassword
AUTH0_SECRET=authsecret
AUTH0_AUDIENCE=auth_url
AUTH0_CLIENT_ID=auth_client_id
AUTH0_BASE_URL=auth_domain_url


#base de datos docker
POSTGRES_DB=docker_db_name
POSTGRES_USER=docker_db_username
POSTGRES_PASSWORD=docker_db_password